.signlang_detection-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: var(--font-family);
}

.signlang_webcam {
  width: 600px;
  height: 500px;
  z-index: 999;
}

.signlang_canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 600px;
  height: 500px;
  z-index: 999;
}

.signlang_data-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.signlang_data-container .signlang_data {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.signlang_data-container button {
  width: 100px;
  height: 30px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  background-color: var(--color-subtext);
  color: #fff;
  font-family: var(--font-family);
  border-radius: 8px;
}

.signlang_data-container p {
  font-size: 20px;
  margin: 1rem;
  width: 20%;
  display: flex;
  justify-content: flex-start;
}

.gesture_output {
  color: var(--color-subtext);
  width: 100%;
}

.signlang_imagelist-container h2 {
  /* color: var(--color-subtext); */
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
}

.signlang_image-div {
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}


.signlang_image-div img {
  width: 400px;
  height: 300px;
  margin-bottom: 8rem;
}

.signlang_image-div button {
  width: 50%;
  background-color: inherit;
  outline: none;
  border: none;
  color: var(--color-subtext);
  cursor: pointer;
  font-size: 20px;
}

.signlang_imagelist-container h3 {
  margin-bottom: 10rem;
  line-height: 2;
}

@media screen and (max-width: 1080px) {
  .signlang_webcam {
    width: 550px;
    height: 500px;
  }

  .signlang_canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 550px;
    height: 500px;
  }

  .signlang_image-div {
    width: fit-content;
    height: 400px;
  }

  .signlang_image-div img {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 990px) {
  .signlang_detection-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 550px) {

    .signlang_webcam {
        width: 100%;
        height: fit-content;
    }
      
    .signlang_canvas {
        width: 100%;
        height: fit-content;
    }

    .signlang_image-div {
        width: fit-content;
        height: 300px;
    }

    .signlang_image-div img {
        width: 200px;
        height: 150px;
    }

    .signlang_imagelist-container h3 {
      text-align: center;
    }

    .signlang_data-container .signlang_data {
      padding: 0 0.5rem;
    }

    .signlang_data-container p {
      font-size: 18px;
      width: 30%;
    }

  }
  